p {
   Font-family: Arial; 
   Font-Size: 18;
   Font-weight: bold;   
   Color: Blue;
}
body {
   text-align: center;
}
div{
   display: inline-block;
}
button {
   display: inline-block;
   padding: 10px 20px;
}
#table {
   display: block;
   margin-top: 20px;
}
th, td{
   border: 1px solid black;
   padding: 5px;
}